{% extends '_layout.html' %}
{% block body %}
    {% if current_user.is_authenticated %}
        <div class="fixed-action-btn" style="position: absolute">
            <a class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">build</i>
            </a>
            <ul>
                <li>
                    <form action="{{ url_for('post_build', sha=build.id) }}" method="post">
                        <button type="submit" value="Refresh" class="btn btn-floating btn-large light-blue">
                            <i class="material-icons">refresh</i>
                        </button>
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('post_test') }}" method="post">
                        <input type="hidden" name="build_id" value="{{ build.id }}">
                        <input type="hidden" name="live" value="false">
                        <input type="submit" value="Test" class="btn btn-floating btn-large light-blue darken-1">
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('post_test') }}" method="post">
                        <input type="hidden" name="build_id" value="{{ build.id }}">
                        <input type="hidden" name="live" value="true">
                        <input type="submit" value="Live" class="btn btn-floating btn-large light-blue darken-2">
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('delete_build') }}" method="post">
                        <input type="hidden" name="commit_sha" value="{{ build.id }}">
                        <button type="submit" value="Delete" class="btn btn-floating btn-large light-blue darken-3">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="container">
            <p class="flow-text">This snapshot was based on commit
                <a href="{{ build.commit_url }}">
                    <strong class="blue-text yellow lighten-4">{{ build.id[0:6] }}</strong>
                </a> submitted on
                <strong class="yellow lighten-4">
                    {{ build.commit_date.strftime('%Y-%m-%d %H:%M UTC') }}.
                </strong>
                The building status is <strong class="yellow lighten-4">{{ build.state }}</strong>.
                {% if build.build_download_url %}
                    The build can be downloaded <a href="{{ build.build_download_url }}"><strong>here</strong></a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Create Time (UTC)</th>
                    <th>Live</th>
                    <th>State</th>
                    <th>Failed</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for test_run in build.tests %}
                    <tr>
                        <td><a href="{{ url_for('test', job_id=test_run.id) }}">{{ test_run.id }}</a></td>
                        <td>{{ test_run.creation_time.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ test_run.live }}</td>
                        <td>{{ test_run.state }}</td>
                        <td>{{ test_run.failed_tests }}</td>
                        <td>{{ test_run.total_tests }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
