{% extends "_layout.html" %}
{% block title %}Builds{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col">
            <h1 class="display-2">Builds List</h1>
        </div>
    </div>
    <div class="row">
        <form class="form-inline mt-sm-2 mb-sm-2 ml-sm-2" action="{{ url_for('post_build') }}" method="post">
            <button class="btn btn-primary btn-info btn-sm mr-sm-2">New Build</button>
{#            <label class="mr-sm-2" for="inputTestAfter">Run Test</label>#}
{#            <input type="checkbox" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputTestAfter" name="test">#}
        </form>
    </div>
    <div class="row">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>SHA</th>
                <th>Creation (UTC)</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
                <tr>
                    <td><a href="{{ url_for('build', sha=build.id) }}">{{ build.id }}</a></td>
                    <td>{{ build.creation_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ build.state }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
