{% extends '_layout.html' %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content brown lighten-5">
                    <p class="flow-text">This snapshot was created on <i class="yellow lighten-4">
                        {{ build.creation_time.strftime('%Y-%m-%d %H:%M UTC') }}</i> based
                        on the commit <a href="https://github.com/Azure/azure-cli/commit/{{ build.id }}"><i
                                class="blue-text yellow lighten-4">{{ build.id[0:6] }}</i></a>. The building status is
                        <i class="yellow lighten-4">{{ build.state }}</i>. </p>
                </div>
                <div class="card-action brown lighten-4">
                    <ul>
                        <li class="waves-effect waves-light">
                            <form action="{{ url_for('refresh_build', sha=build.id) }}" method="post">
                                <input type="submit" value="Refresh" class="btn blue-grey lighten-1">
                            </form>
                        </li>
                        <li class="waves-effect waves-light">
                            <form action="{{ url_for('post_test') }}" method="post">
                                <input type="hidden" name="build_id" value="{{ build.id }}">
                                <input type="hidden" name="live" value="false">
                                <input type="submit" value="Run Test" class="btn teal lighten-1">
                            </form>
                        </li>
                        <li class="waves-effect waves-light">
                            <form action="{{ url_for('post_test') }}" method="post">
                                <input type="hidden" name="build_id" value="{{ build.id }}">
                                <input type="hidden" name="live" value="true">
                                <input type="submit" value="Run Live Test" class="btn cyan lighten-1">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable brown lighten-5">
                <div class="card-content">
                    <span class="card-title">Test Runs</span>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Create Time (UTC)</th>
                            <th>Live</th>
                            <th>Failed</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test_run in build.tests %}
                            <tr>
                                <td><a href="{{ url_for('test', job_id=test_run.id) }}">{{ test_run.id }}</a></td>
                                <td>{{ test_run.creation_time.strftime('%Y-%m-%d %H:%M') }}</td>
                                <td>{{ test_run.live }}</td>
                                <td>{{ test_run.failed_tests }}</td>
                                <td>{{ test_run.total_tests }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
