{% extends "_layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <div class="fixed-action-btn" style="position: absolute">
            <a class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">build</i>
            </a>
            <ul>
                <li>
                    <form action="{{ url_for('sync_builds') }}" method="post">
                        <button type="submit" value="Refresh" class="btn btn-floating btn-large light-blue">
                            <i class="material-icons">refresh</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="container">
            <p class="flow-text">You can find the snapshots for the <i class="yellow lighten-4"><a
                    href="https://github.com/azure/azure-cli" class="black-text">Azure CLI repository</a></i>
                for each git commits here. The snapshots are associated with <i class="yellow lighten-4"><a
                        href="{{ url_for('tests') }}" class="black-text">test runs</a></i>. If the latest
                commits doesn't have a corresponding snapshot here, you can trigger a new one.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <table class="highlight">
                <thead>
                <tr>
                    <th>SHA</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Run</th>
                </tr>
                </thead>
                <tbody>
                {% for build in builds %}
                    <tr>
                        <td style="width: 10%"><code><a
                                href="{{ url_for('build', sha=build.id) }}">{{ build.id[:7] }}</a></code></td>
                        <td style="width: 10%">{{ build.commit_author }}</td>
                        <td style="width: 55%">{{ build.commit_message.strip().split('\n')[0] if build.commit_message else '' }}</td>
                        <td style="width: 10%">{{ build.commit_date.strftime('%Y-%m-%d') if build.commit_date else 'N/A' }}</td>
                        <td style="width: 10%">{{ build.state }}</td>
                        <td style="width: 5%">{{ build.tests.count() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
