{% extends "_layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Automation Job Details</h1>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">{{ job.id }}</dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ job.description }}</dd>
        <dt class="col-sm-3">State</dt>
        <dd class="col-sm-9">{{ job.state }}</dd>
        <dt class="col-sm-3">Creation</dt>
        <dd class="col-sm-9">{{ job.creation_time }}</dd>
        <dt class="col-sm-3">Last Modified</dt>
        <dd class="col-sm-9">{{ job.last_modified }}</dd>
        <dt class="col-sm-3">Total tasks</dt>
        <dd class="col-sm-9">{{ job.total_tasks }}</dd>
        <dt class="col-sm-3">Running tasks</dt>
        <dd class="col-sm-9">{{ job.running_tasks }}</dd>
        <dt class="col-sm-3">Completed tasks</dt>
        <dd class="col-sm-9">{{ job.completed_tasks }}</dd>
    </dl>
    {{ job_id }}
{% endblock %}
