{% extends '_layout.html' %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content brown lighten-5">
                    <p class="flow-text">The test run <i class="yellow lighten-4">{{ test_run.id }}</i> is based on
                        snapshot <i class="yellow lighten-4"><a
                                href="{{ url_for('build', sha=test_run.build_id) }}">{{ test_run.build_id or 'N/A' }}</a></i>.
                        It was created on <i
                                class="yellow lighten-4">{{ test_run.creation_time.strftime('%Y-%m-%d %H:%M UTC') }}</i>
                        and it is <i class="yellow lighten-4">{{ test_run.state }}</i>. The pass rate is
                        <i class="purple lighten-4">{{ test_run.get_pass_percentage() }}%</i>.</p>
                </div>
                <div class="card-action brown lighten-4">
                    <ul>
                        <li class="waves-effect waves-light">
                            <form class="mr-sm-2" action="{{ url_for('refresh_test', job_id=test_run.id) }}"
                                  method="post">
                                <input type="submit" class="btn blue-grey lighten-1" value="Refresh">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content brown lighten-5">
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Module</th>
                            <th>Failed Test</th>
                            <th>Duration (s)</th>
                            <th>Log</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test_case in test_run.test_cases if not test_case.passed %}
                            <tr>
                                <td>{{ test_case.module }}</td>
                                <td>{{ test_case.test_method }}</td>
                                <td>{{ test_case.test_duration }}</td>
                                <td><a href="#{{ test_case.test_full_name }}">Link</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% for test_case in test_run.test_cases if not test_case.passed %}
        <div class="row" id="{{ test_case.test_full_name }}">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content teal lighten-5">
                        <span class="card-title">
                        {{ test_case.test_method }}
                        </span>
                        <pre><code>{{ test_case.output }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
