{% extends '_layout.html' %}
{% block body %}
    {% if current_user.is_authenticated %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">build</i>
            </a>
            <ul>
                <li>
                    <form class="mr-sm-2" action="{{ url_for('refresh_test', job_id=test_run.id) }}"
                          method="post">
                        <button type="submit" class="btn-floating btn-large btn light-blue darken-2"><i
                                class="large material-icons">refresh</i>
                        </button>
                    </form>
                </li>
                <li>
                    <form class="mr-sm-2" action="{{ url_for('delete_test_run') }}" method="post">
                        <input type="hidden" name="test_run_id" value="{{ test_run.id }}">
                        <button type="submit" class="btn-floating btn-large btn light-blue darken-3">
                            <i class="large material-icons">delete</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="container">
            <p class="flow-text">
                The <span class="yellow lighten-4">{{ 'live' if test_run.live or '' }}</span> test run <span
                    class="yellow lighten-4">{{ test_run.id }}</span> is based on
                snapshot <span class="yellow lighten-4"><a
                    href="{{ url_for('build', sha=test_run.build_id or '') }}">{{ test_run.build_id or 'N/A' }}</a></span>.
                It was created on <span
                    class="yellow lighten-4">{{ test_run.creation_time.strftime('%Y-%m-%d %H:%M UTC') }}</span>
                and it is now <span class="yellow lighten-4">{{ test_run.state }}</span>.
                The pass rate is <span class="purple lighten-4">{{ test_run.get_pass_percentage() }}%</span>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content brown lighten-5">
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Module</th>
                            <th>Failed Test</th>
                            <th>Duration (s)</th>
                            <th>Log</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test_case in test_run.test_cases if not test_case.passed %}
                            <tr>
                                <td>{{ test_case.module }}</td>
                                <td>{{ test_case.test_method }}</td>
                                <td>{{ test_case.test_duration }}</td>
                                <td><a href="#{{ test_case.test_full_name }}">Link</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% for test_case in test_run.test_cases if not test_case.passed %}
        <div class="row" id="{{ test_case.test_full_name }}">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content teal lighten-5">
                        <span class="card-title">
                        {{ test_case.test_method }}
                        </span>
                        <pre><code>{{ test_case.output }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
