{% extends '_layout.html' %}
{% block title %}Test runs{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col">
            <h1 class="display-2">Test Runs List</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Create Time (UTC)</th>
                <th>State</th>
                <th>Live</th>
                <th>Failed</th>
                <th>Total</th>
                <th>Build</th>
            </tr>
            </thead>
            <tbody>
            {% for test_run in test_runs %}
                <tr>
                    <td><a href="{{ url_for('test', job_id=test_run.id) }}">{{ test_run.id }}</a></td>
                    <td>{{ test_run.creation_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ test_run.state }}</td>
                    <td>{{ 'live' if test_run.live else '' }}</td>
                    <td>{{ test_run.failed_tests }}</td>
                    <td>{{ test_run.total_tests }}</td>
                    <td><a href="{{ url_for('build', sha=test_run.build_id) }}">{{ test_run.build_id or 'N/A' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}