{% extends "_layout.html" %}
{% block title %}Builds{% endblock %}
{% block body %}
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>State</th>
                <th>Test</th>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
                <tr>
                    <td>{{ build.id }}</td>
                    <td>{{ build.start_time }}</td>
                    <td>{{ build.end_time }}</td>
                    <td>{{ build.state }}</td>
                    <td>
                        <form class="form-inline" action="{{ url_for('create_test_job') }}" method="post">
                            <div class="form-group">
                                <input type="hidden" name="build_job" value="{{ build.id }}">
                                <button type="submit" class="btn btn-sm mr-2">Run</button>
                                <div class="form-check form-check-inline">
                                    <label for="inputRunLive" class="form-check-label">
                                        <input class='form-check-input' type="checkbox" id="inputRunLive" name="live"
                                               value="True"> Live
                                    </label>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
