<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morocco - Builds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Builds</h1>
    </div>
    <div class="row">
        <table class="table">
            <caption>
                Build jobs
            </caption>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>State</th>
            </tr>
            {% for build in builds %}
                <tr>
                    <td>{{ build.id }}</td>
                    <td>{{ build.start_time }}</td>
                    <td>{{ build.end_time }}</td>
                    <td>{{ build.state }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>