<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morocco - Builds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Builds</h1>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>State</th>
                <th>Test</th>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
                <tr>
                    <td>{{ build.id }}</td>
                    <td>{{ build.start_time }}</td>
                    <td>{{ build.end_time }}</td>
                    <td>{{ build.state }}</td>
                    <td>
                        <form class="form-inline" action="{{ url_for('create_test_job') }}" method="post">
                            <div class="form-group">
                                <input type="hidden" name="build_job" value="{{ build.id }}">
                                    <button type="submit" class="btn btn-sm mr-2">Run</button>
                                <div class="form-check form-check-inline">
                                    <label for="inputRunLive" class="form-check-label">
                                        <input class='form-check-input' type="checkbox" id="inputRunLive" name="live"
                                               value="True"> Live
                                    </label>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>