{% extends "_layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row jumbotron">
        <h1 class="display-1">Azure CLI 2.0 Automation System</h1>
        <p class="lead">Morocco - Automation service runs on Azure Batch</p>
    </div>
    <div class="row">
        <form class="form-inline">
            <label class="mr-sm-2" for="inputBranch">Branch</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" value="master" id="inputBranch">
            <label class="mr-sm-2" for="inputTestAfter">Run Test</label>
            <input type="checkbox" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputTestAfter">
            <button class="btn btn-primary">Build</button>
        </form>
    </div>
{% endblock %}